@tailwind base;
@tailwind components;
@tailwind utilities;

.main-header {
    height: 64px;
    @apply bg-transparent;
}

.hover {
    right: 1rem;
    width: 1rem;
    height: 1rem;
}

.hover:hover #together {
    display: block;
    width: 233px;
    opacity: 1;
}

#together {
    right: 0;
    width: 24px;
    height: 48px;
    padding: 12px;
    background-color: tan;
    opacity: 0;
    color: aliceblue;
    box-shadow: 0 2px antiquewhite;
    transition: all .3s;
    overflow: hidden;
}

@media (min-width: 1900px) {
    body {
        padding: 160px;
    }
}
