@tailwind base;
@tailwind components;
@tailwind utilities;

.main-header {
    height: 64px;
    @apply bg-transparent;
}

.hover {
    height: 48px;
}

.hover:hover .content {
    display: block;
    width: 233px;
    opacity: 1;
}

#meet, #together {
    right: 0;
    height: 48px;
    padding: 12px;
    background-color: tan;
    color: aliceblue;
    box-shadow: 0 2px antiquewhite;
    transition: all .3s;
    overflow: hidden;
}

@media (min-width: 1900px) {
    body {
        padding: 160px;
    }
}

body {
    @apply bg-teal-500;
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: rgba(0,0,0,0.7);
    }
}
